//colors
:root {
  --logo-color: #0087d0;
  --primary-color: #0087d0;
  --sucess-color: #98ff8a;
  --error-color: #f67274;
  --warning-color: #ffdf75;
  --background-color: #f1f1f1;
  --text-color: #181818;
  --lighteen-text-color: #8d8d8d;
  --border-color: #dcdcdc;
}

