.tools {
  display: flex;
  flex-wrap: wrap;


  .tool {
    width: 33% ;

    .content {
      margin: 20px;
      border-radius: 10px;
      border: 1px solid var(--border-color);
      padding: 30px;
      cursor: pointer;
      transition: box-shadow .2s;
      &:hover {
        box-shadow: 0 0 13px 0 rgba(0,0,0, 0.3);
      }
    }

    .icon {
      text-align: center;
      margin-bottom: 20px;
    }

    .name {
      text-align: center;
      color: var(--text-color);
      font-size: 20px;
      margin-bottom: 30px;
    }

    .description {
      color: var(--lighteen-text-color);
    }
  }
}
